---
title: Elsewhere
permalink: /elsewhere/feed.xml
standalonePage: true
eleventyExcludeFromCollections: true
---

{%- import 'components/atom.njk' as atom -%}

{%- extends 'feed.njk' -%}

{%- block entries -%}
   {{atom.entries(collections.elsewhere, config)}}
{%- endblock -%}