<p>
   I’m Chris Krycho—a follower of Christ, a husband, and a dad. I’m a <a href='/cv/'>software engineer</a> by trade; a theologian by vocation; and a writer, runner, podcaster, and composer by hobby.
</p>

<p>
   Outside this site, I also cohost and produce <a href='https://www.winningslowly.org'><cite>Winning Slowly</cite></a>, a podcast about technology, religion, ethics and art; and occasionally write for <a href='https://mereorthodoxy.com'><cite>Mere Orthodoxy</cite></a>.
</p>
