<section class='content-block'>
   <div class='article-content'>
      <div class='note'>
         <p>
            Things are under construction around here! I decided it was better to go ahead
            and launch than to stay in “but it’s not finished yet!” mode forever. A lot of
            things will look and work better over the next couple months.
         </p>
      </div>
   </div>
</section>