---
title: Notes
permalink: /notes/feed.xml
standalonePage: true
eleventyExcludeFromCollections: true
---

{%- import 'components/atom.njk' as atom -%}

{%- extends 'feed.njk' -%}

{%- block entries -%}
   {{atom.entries(collections.notes, config)}}
{%- endblock -%}