:root {
   --double-margin: 0.5em;
   --single-margin: 0.2em;

   --double-margin-sans: 0.15em;
   --single-margin-sans: 0.1em;
}

.greek {
   font-family: var(--greek);
}

.pull-double {
   margin-left: calc(-1 * var(--double-margin));
}

.push-double {
   margin-left: var(--double-margin);
}

.pull-single {
   margin-left: calc(-1 * var(--single-margin));
}

.push-single {
   margin-left: var(--single-margin);
}

blockquote,
aside,
.note,
.qualifiers,
.callout {
   --double-margin: 0.2em;
   --single-margin: 0.075em;
}