<html>
                            <head>
                                <link rel="stylesheet" href="/light.css" media="(prefers-color-scheme: light)" />
                                <link rel="stylesheet" href="/dark.css" media="(prefers-color-scheme: dark)" />
                            </head>
                            <body>
                                <p>Hello!</p>
<p>{% include ‘blocks/short-about.njk’ %}</p>
<p>{% include ‘blocks/sponsor-me.njk’ %}</p>

                            </body>
                        </html>