// Sabon Roman
@font-face {
   font-family: 'Sabon';
   font-display: fallback;
   src: url('/assets/fonts/93780186-d6b9-4d46-9d64-29b5bd1d4d3a.woff2') format('woff2'),
      url('/assets/fonts/73ddb857-a4de-4b20-bae4-028e95d2f23b.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

// Sabon italic
@font-face {
   font-family: 'Sabon';
   font-display: fallback;
   src: url('/assets/fonts/fc05ab8c-00f2-4a77-9616-8c133f634734.woff2') format('woff2'),
      url('/assets/fonts/4f20df70-3ab5-4d4c-b4bc-5e2bec4db04e.woff') format('woff');
   font-weight: 400;
   font-style: italic;
}

// Sabon bold
@font-face {
   font-family: 'Sabon';
   font-display: fallback;
   src: url('/assets/fonts/6fe30a8e-027f-400f-9a5d-3dc81216ff29.woff2') format('woff2'),
      url('/assets/fonts/4a2fcbba-7d75-4e70-8cb5-977bb5ff18d3.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

// Sabon bold italic
@font-face {
   font-family: 'Sabon';
   font-display: fallback;
   src: url('/assets/fonts/e63fe280-cddb-418d-91f2-c1511de50941.woff2') format('woff2'),
      url('/assets/fonts/9b911ac9-2be8-4e0b-85cf-00846bbdf792.woff') format('woff');
   font-weight: 700;
   font-style: italic;
}

/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
   font-family: 'Hack';
   src: url('/assets/fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'),
      url('/assets/fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Hack';
   src: url('/assets/fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2'),
      url('/assets/fonts/hack-bold-subset.woff?sha=3114f1256') format('woff');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Hack';
   src: url('/assets/fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2'),
      url('/assets/fonts/hack-italic-webfont.woff?sha=3114f1256') format('woff');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Hack';
   src: url('/assets/fonts/hack-bolditalic-subset.woff2?sha=3114f1256') format('woff2'),
      url('/assets/fonts/hack-bolditalic-subset.woff?sha=3114f1256') format('woff');
   font-weight: 700;
   font-style: italic;
}
